---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

I have worked as a TA for the following courses at Columbia.
<ul>
  <li>COMS4774 Unsupervised Machine Learning (Fa24, Nakul Verma)</li>
  <li>MATH4041 Modern Algebra I (Fa24, Robert Friedman)</li>
  <li>CSOR4231 Probability Theory (Su24B, Ioannis Karatzas)</li>
  <li>MATH2500 Analysis and Optimization (Su24B, Jingbo Wan)</li>
  <li>COMS4771 Machine Learning (Sp23, Sp24, Su24A Nakul Verma; Fa23, Daniel Hsu)</li>
  <li>COMS4705 Natural Language Processing (Fa22, Daniel Bauer)</li>
</ul>

Some workshops I've really enjoyed:
<ul>
  <li>DIMACS Tutorial on Fine-grained Complexity (Rutgers, July 2024)</li>
  <li>Fall Fourier Talks (UMD, October 2023)</li>
  <li>MihalisFest (Columbia, August 2023)</li>
  <li>Geometric Group Theory (Tufts, August 2023)</li>
  <li>FODSI Computational Complexity of Statistical Problems (MIT, June 2023)</li>
</ul>

Here is a list of specific projects.

{% include base_path %}

{% for post in site.teaching reversed %}
   {% include archive-single.html %}
 {% endfor %}
